:root {
    --bs-link-color: #6c95ba;
    --bs-link-hover-color: #8ab0d1;
}



.py-defname {
    font-family: var(--bs-font-sans-serif) !important;
    color: #8cb3d9 !important;
    font-weight: 500 !important;
}


.py-keyword {
    background-color: transparent !important;
    color: #d9886a !important;
}


#childList > div.basefunction {
    background-color: var(--bs-body-tertiary) !important;
    border-left: 5px solid #2c527a !important;
}


#childList .docstring .fieldName {
    font-weight: 600;
    color: var(--bs-secondary-color);
}

#childList a:target ~ .functionHeader,
#childList a:target ~ .functionBody,
#summaryTree a:target ~ div {
    background-color: transparent !important;
    box-shadow: none !important;
}


#childList > div.basefunction:has(a:target) {
    box-shadow: inset 0 0 0 2px #2c527a !important;
}