Source: devildex
Section: python
Priority: optional
Maintainer: magowiz <magowiz@gmail.com>
Build-Depends: debhelper-compat (= 13), python3-all, python3-setuptools, python3-wheel, python3-poetry-core, python3-pip
Standards-Version: 4.6.0
Homepage: https://github.com/magowiz/devildex
X-Python3-Version: >= 3.11
Vcs-Browser: https://github.com/magowiz/devildex
Vcs-Git: https://github.com/magowiz/devildex.git

Package: devildex
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-wxgtk4.0, python3-wxgtk-webview4.0, libnotify4, libsdl2-2.0-0
Description: A desktop application for discovering, generating, and viewing Python package documentation.
 DevilDex scans your projects for dependencies, builds their documentation,
 and provides a unified interface to browse it all locally.