    /* Contenuto per: src/devildex/theming/devildex_pdoc3_theme/static/pdoc3_devildex.css */
    body {
        background-color: lightcoral;
        font-family: sans-serif;
    }

    h1 {
        color: navy; /* O qualsiasi altro colore tu preferisca */
    }

    /* Aggiungi qui altre regole CSS che desideri */
